/docs
/src/SGPST.Application/bin
/src/SGPST.Application/obj
/src/SGPST.Domain/bin
/src/SGPST.Domain/obj
/src/SGPST.Infrastructure/bin
/src/SGPST.Infrastructure/obj
/src/SGPST.Presentation.Api/bin
/src/SGPST.Presentation.Api/obj
/src/SGPST.Tests/bin
/src/SGPST.Tests/obj
/src/SGPST.Service.Worker/bin
/src/SGPST.Service.Worker/obj
/src/SGPST.Client.Generator/bin
/src/SGPST.Client.Generator/obj
/src/SGPST.Presentation.Desktop/bin
/src/SGPST.Presentation.Desktop/obj
/src/SGPST.Presentation.Web/bin
/src/SGPST.Presentation.Web/obj
/src/.vs
/src/sgpst.db
/demo-sgpst/src/.vs
/demo-sgpst/src/SGPST.Application/bin
/demo-sgpst/src/SGPST.Application/obj
/demo-sgpst/src/SGPST.Client.Generator/bin
/demo-sgpst/src/SGPST.Client.Generator/obj
/demo-sgpst/src/SGPST.Domain/bin
/demo-sgpst/src/SGPST.Domain/obj
/demo-sgpst/src/SGPST.Infrastructure/bin
/demo-sgpst/src/SGPST.Infrastructure/obj
/demo-sgpst/src/SGPST.Presentation.Api/bin
/demo-sgpst/src/SGPST.Presentation.Api/obj
/demo-sgpst/src/SGPST.Presentation.Desktop/bin
/demo-sgpst/src/SGPST.Presentation.Desktop/obj
/demo-sgpst/src/SGPST.Presentation.Web/bin
/demo-sgpst/src/SGPST.Presentation.Web/obj
/demo-sgpst/src/SGPST.Service.Worker/bin
/demo-sgpst/src/SGPST.Service.Worker/obj
/demo-sgpst/src/SGPST.Tests/bin
/demo-sgpst/src/SGPST.Tests/obj
